.ov-community {
    display:flex;
    flex-direction: column;
    > *:not(:last-child) {
    margin-bottom: var(--ov--spacer--md);
    }
    }

.ov-masthead--community {
	    background: url('/images/oVirt_Community_Header.png') left top no-repeat var(--ov--color-brand--100);
    .ov-heading--lg {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    } 
   }


.ov-community-paragraph {
	max-width: 1080px; 
    }    
.ov-community-list {
	max-width: 1080px; 
	margin-left: 30px;
    }    




