
.ov-masthead--community {
	    background: url('/images/oVirt_Community_Header.png') left top no-repeat var(--ov--color-brand--100);
    .ov-heading--lg {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    } 
   }
   
.ov-content-styles {
	max-width: 1080px; 
    list-style-type: disc;
    margin: var(--ov--spacer--sm);
    padding: var(--ov--spacer--sm);
    @media (min-width: $ov--breakpoint--lg)
        {padding: var(--ov--spacer--md);
        }
    }    
   

.ov-community-subsection {
    margin: var(--ov--spacer--sm);
}    