
.ov-masthead--community {
	    background: url('/images/oVirt_Community_Header.png') left top no-repeat var(--ov--color-brand--100);
    .ov-heading--lg {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    } 
   }

.ov-layout-styles {
    margin: var(--ov--spacer--sm);
    padding: var(--ov--spacer--sm);
    max-width: 1080px; 
    @media (min-width: $ov--breakpoint--lg)
        {padding: var(--ov--spacer--md);
        }
}
   
.ov-p-styles {
    padding: var(--ov--spacer--sm);
}         

.ov-ul-styles {
        list-style-type: disc;
        padding: var(--ov--spacer--sm);
}
      