@import "functions";
@import "variables";
@import "reset";
@import "type";

//components
@import "header";
@import "footer";

//layout
@import "homepage";
@import "download"; 
@import "community";

//global
@import "global"