.mk-button {
    font-size: var(--mk--FontSize--md);
    border-radius: var(--mk--BorderRadius);
    padding: var(--mk--spacer--xs) var(--mk--spacer--sm);
    line-height: var(--mk--LineHeight--lg);
    font-weight: normal;
    display: inline-block;
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
    &--primary {
        background: var(--mk--BackgroundColor--100);
        color: var(--mk--Color--400);
        &:hover, &:active, &:focus {
            background: var(--mk--BackgroundColor--150);
            transform: scale(1.025);
        }
    }

    &--secondary {
        background: transparent;
        color: var(--mk--Color--500);
        box-shadow: 0px 0px 0px var(--mk--BorderWidth--sm) var(--mk--BorderColor--150);
        &:hover, &:active, &:focus {
            border-color: transparent;
            color: var(--mk--Color--600);
            box-shadow: 0px 0px 0px var(--mk--BorderWidth--md) var(--mk--BorderColor--150);
        }
    }

}

.mk-main {
    &--homepage {
        display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "blog"
    "why"
    "faq";

    @media (min-width: $mk--breakpoint--lg){
        grid-template-columns: 3fr minmax(350px, 1fr);
        grid-template-areas: 
        "why blog"
        "faq blog"
    }
    }
    &__section {
        margin: var(--mk--spacer--sm);
        background: var(--mk--BackgroundColor--250);
        padding: var(--mk--spacer--sm);
        border: var(--mk--BorderWidth--sm) solid var(--mk--BorderColor--300);
        @media (min-width: $mk--breakpoint--lg){
            margin: var(--mk--spacer--md);
            padding: var(--mk--spacer--md);
        }
        @media (min-width: $mk--breakpoint--2xl){
            margin: var(--mk--spacer--lg);
        }
    }
}

.mk-main__header {
    margin-bottom: var(--mk--spacer--md);
    &__link {
        display:inline-block;
        color: var(--mk--Color--500);
        font-size: var(--mk--FontSize--md);
        margin-top: var(--mk--spacer--sm);
        &:after{
            content:'';
            background: url("/assets/images/sprite.svg") no-repeat;
            width: 15px;
            height: 15px;
            display: inline-block;
            margin-left: var(--mk--spacer--sm);
        }
        &:hover, &:active, &:focus {
            color: var(--mk--Color--400);
            text-decoration: none;
            &:after {
                margin-left: calc(var(--mk--spacer--sm) * 1.25);
            }
        }
    }
}

.mk-social-list {
    margin-left: var(--mk--spacer--md);
    li{
        margin-bottom: var(--mk--spacer--sm);
    }
    svg{
        width:16px;
        margin-right: var(--mk--spacer--sm);
        path {fill: var(--mk--color-brand--400);}
    }
}