.mk-button {
    font-size: var(--mk--FontSize--md);
    border-radius: var(--mk--BorderRadius);
    padding: var(--mk--spacer--xs) var(--mk--spacer--sm);
    line-height: var(--mk--LineHeight--lg);
    font-weight: normal;
    display: inline-block;
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
    &--primary {
        background: var(--mk--BackgroundColor--100);
        color: var(--mk--Color--400);
        &:hover, &:active, &:focus {
            background: var(--mk--BackgroundColor--150);
            transform: scale(1.025);
        }
    }

    &--secondary {
        background: transparent;
        color: var(--mk--Color--500);
        box-shadow: 0px 0px 0px var(--mk--BorderWidth--sm) var(--mk--BorderColor--150);
        &:hover, &:active, &:focus {
            border-color: transparent;
            color: var(--mk--Color--600);
            box-shadow: 0px 0px 0px var(--mk--BorderWidth--md) var(--mk--BorderColor--150);
        }
    }

}