
.mk-community-callout {
    padding: var(--mk--spacer--md) var(--mk--spacer--sm);
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--mk--BoxShadow--sm);
    @media (min-width: $mk--breakpoint--md){
        padding: var(--mk--spacer--lg) var(--mk--spacer--lg);
    }
    &__content {
        margin: var(--mk--spacer--md) auto;
        max-width: 990px;
    }
    &__images {  
        @media (min-width: $mk--breakpoint--md){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: var(--mk--spacer--lg);
            max-width: 1000px;
            margin: 0 auto; 
        }
        img:last-child {
            display: none;
            @media (min-width: $mk--breakpoint--md){
                display: block;
                margin-left: var(--mk--spacer--md);
            }
        }
    }
} //community callout



.mk-why-metalkubed {
    grid-area: why;
    margin-bottom: 0;

    p {
        margin-bottom: var(--mk--spacer--sm);
    }
}

.mk-faqs {
    grid-area: faq;
    &__list {
        background: var(--mk--BackgroundColor--200);
    }
    &__question, &__question:after {
        transition: var(--mk--animation);   
    }
    &__question {
        width: 100%;
        text-align: left; 
        display: flex;
        justify-content: space-between;
        color: var(--mk--Color--300);
        border: none;
        border-top: var(--mk--BorderWidth--sm) solid var(--mk--BorderColor--300);
        background: none;
        
        &:after {
            content:'';
            width: 0;
            height: 0;
            margin-top: var(--mk--spacer--xs);
            margin-left: var(--mk--spacer--sm);
            border-top: 8px solid transparent;
            border-left: 10px solid var(--mk--BackgroundColor--100);
            border-bottom: 8px solid transparent;
        }
        &[aria-expanded="true"]{
            color: var(--mk--Color--400);
            &:after {
                transform: rotate(90deg);
                border-left-color: var(--mk--BackgroundColor--400); 
            }
        &:hover, &:active, &:focus {
                color: var(--mk--Color--300);
                &:after {
                    border-left-color: var(--mk--BackgroundColor--100);
                }
            }
        }
        
    }
    &__answer {
        max-height: 0vh;
        position: relative;
        z-index: 1;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        &[aria-hidden="false"] {
            max-height: 100vh;
            overflow: auto;
            visibility: visible;
            opacity: 1;
        }
    }
    &__question, &__answer {
        padding: var(--mk--spacer--sm);
        border-left: var(--mk--BorderWidth--lg) solid transparent;
        @media ($mk--breakpoint--md) {
            padding: var(--mk--spacer--md) var(--mk--spacer--sm);
        }
    }
    &__question[aria-expanded="true"], &__answer[aria-hidden="false"] {
        border-left: var(--mk--BorderWidth--lg) solid var(--mk--BorderColor--100);
    }
}

.mk-blog-highlights {
        grid-area: blog;
        margin: 0;
        border-left: none;
        border-right: none;
        @media (max-width: $mk--breakpoint--lg) {
            padding-right: 0;
        }
        @media (min-width: $mk--breakpoint--md) and (max-width: $mk--breakpoint--lg) {
            grid-template-columns: 1fr 3fr;
            grid-gap: var(--mk--spacer--sm);
            display: grid;
        }
    &__wrapper {
        display: flex;
        width: calc(100vw - var(--mk--spacer--sm));
        overflow: scroll;
        position: relative;
        -webkit-overflow-scrolling: touch;
        // &::after {
        //     content:'';
        //     width: 30px;
        //     height: 100%;
        //     position: fixed;
        //     z-index: 100;
        //     right: 0;
        //     background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.8));
        // }
        @media (min-width: $mk--breakpoint--md) {
            width: auto;
        }
        @media (min-width: $mk--breakpoint--lg) {
            overflow: visible;
            flex-wrap: wrap;
        }
    }
    &__item {
        display: block;
        min-width: max-content;
        max-width: 450px;
        margin-right: var(--mk--spacer--sm);
        color: var(--mk--Color--100);
        padding: var(--mk--spacer--md);
        background: var(--mk--color-transparent-background--100);
        @media (min-width: $mk--breakpoint--lg){
            min-width:100%;
        &:not(:last-of-type) {
            margin-bottom: var(--mk--spacer--md);
            margin-right: 0;
        }
        width: 100%;
        }
        &:hover, &:active, &:focus {
            text-decoration: none;
            background: var(--mk--BackgroundColor--400);
        }
    }
    &__timestamp {
        display: flex;
        align-items: center;
        margin-top: var(--mk--spacer--xs);
        &:before {
            content:'';
            background: url("/assets/images/sprite.svg") no-repeat -20px 1px;
            width: 18px;
            height: 18px;
            display: inline-block;
            margin-right: var(--mk--spacer--sm);
         }
    }
}

// *,
// *:before,
// *:after {
// 	box-sizing: border-box;
// }

// /**
//  * Accordion container element
//  */

// /**
//  * Add zero-width space. needed to ensure Safari + VO respect list semantics.
//  * Set the before content to position absolute to negate any visible space
//  * the before content could add to the document.
//  */
// .mk-faqs > li:before {
// 	content: "\200B";
// 	position: absolute;
// }

// /**
//  * Accordion Heading
//  */
// .mk-faq__heading {
// 	border: 1px solid #4464c2;
// 	font-size: inherit;
// 	margin: -1px 0 0;
// }

// .mk-faq__trigger {
// 	-webkit-appearance: none;
// 	background-color: #fafafa;
// 	border: none;
// 	border-radius: 0;
// 	box-shadow: none;
// 	color: #4464c2;
// 	cursor: pointer;
// 	display: block;
// 	font-size: inherit;
// 	margin: 0;
// 	padding: .5em 2em .5em 1em;
// 	position: relative;
// 	text-align: left;
// 	width: 100%;
// 	z-index: 2;
// }

// .mk-faq__trigger:after {
//   border-left: .4em solid transparent;
//   border-right: .4em solid transparent;
//   border-top: .5em solid #222;
//   bottom: 0;
//   content: '';
//   height: 0;
//   margin: auto;
//   position: absolute;
//   right: 1em;
//   top: 0;
//   transition: transform .2s ease-in-out;
//   transform-origin: center center;
//   transform: rotate(0deg);
//   width: 0;
// }

// .mk-faq__trigger:hover:after,
// .mk-faq__trigger:focus:after,
// .mk-faq__trigger[aria-expanded="true"]:after {
// 	border-top-color: #fff;
// }

// .mk-faq__trigger[aria-expanded="true"]:after {
// 	transform: rotate(180deg);
// }

/**
 * This is needed to allow a double tap iOS 11
 * Safari + VO to function correctly, if there
 * are multiple elements (wrapper spans) to layout
 * text nodes within the accordion button.

	-- This is not needed if a button only contains text
	   and no other child nodes wrapping the text --

.accordion__trigger > * {
	pointer-events: none;
}
 */

// .mk-faq__trigger:hover,
// .mk-faq__trigger:focus {
// 	background-color: #0e3b5e;
// 	color: #fff;
// 	outline: none;
// }

// .mk-faq__trigger:focus {
// 	box-shadow: inset 0 0 0 2px #1e82d1;
// }

// .mk-faq__trigger[aria-disabled="true"]:hover {
// 	background-color: #1b75bc;
// 	color: #fff;
// 	cursor: not-allowed;
// }

// .mk-faqs__trigger[aria-disabled="true"]:focus {
// 	background-color: #0a2a42;
// }

// .mk-faqs__answer {
// 	background-color: inherit;
// 	max-height: 0vh;
// 	overflow: hidden;
// 	padding: 0.001em 1.25em;
// 	position: relative;
// 	visibility: hidden;
// 	z-index: 1;
// }

// .mk-faqs__answer--transition {
// 	transition:
// 		max-height .2s ease-in-out,
// 		padding-top .2s ease-in-out,
// 		padding-bottom .2s ease-in-out;
// }

// .mk-faqs__answer > :last-child {
// 	margin-bottom: 0;
// }

// .mk-faqs__answer[aria-hidden="false"] {
// 	max-height: 100vh;
// 	overflow: auto;
// 	padding: 1.25em;
// 	visibility: visible;
// }

// .mk-faq__trigger[aria-expanded="true"] {
// 	background: #1b75bc;
// 	color: #fff;
// }
