.test {
    color: pink;
}
.mk-community-callout {
    padding: var(--mk--spacer--md) var(--mk--spacer--sm);
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--mk--BoxShadow--sm);
    @media (min-width: $mk--breakpoint--md){
        padding: var(--mk--spacer--lg) var(--mk--spacer--lg);
    }
    &__content {
        margin: var(--mk--spacer--md) auto;
        max-width: 990px;
    }
    &__images {  
        @media (min-width: $mk--breakpoint--md){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: var(--mk--spacer--lg);
            max-width: 1000px;
            margin: 0 auto; 
        }
        img:last-child {
            display: none;
            @media (min-width: $mk--breakpoint--md){
                display: block;
                margin-left: var(--mk--spacer--md);
            }
        }
    }
} //community callout

.mk-homepage-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "blog"
    "why"
    "faq";

    @media (min-width: $mk--breakpoint--lg){
        grid-template-columns: 3fr minmax(350px, 1fr);
        grid-template-areas: 
        "why blog"
        "faq blog"
    }
    &__section {
        margin: var(--mk--spacer--sm);
        background: var(--mk--BackgroundColor--250);
        padding: var(--mk--spacer--sm);
        border: var(--mk--BorderWidth--sm) solid var(--mk--BorderColor--300);
        @media (min-width: $mk--breakpoint--lg){
            margin: var(--mk--spacer--md);
            padding: var(--mk--spacer--md);
        }
        @media (min-width: $mk--breakpoint--2xl){
            margin: var(--mk--spacer--lg);
        }
    }
}

.mk-why-metalkubed {
    grid-area: why;
    margin-bottom: 0;

    p {
        margin-bottom: var(--mk--spacer--sm);
    }
}

.mk-faqs {
    grid-area: faq;
    &__list {
        background: var(--mk--BackgroundColor--200);
    }
    &__question, &__question:after {
        transition: var(--mk--animation);   
    }
    &__question {
        width: 100%;
        text-align: left; 
        display: flex;
        justify-content: space-between;
        color: var(--mk--Color--300);
        border: none;
        border-top: var(--mk--BorderWidth--sm) solid var(--mk--BorderColor--300);
        background: none;
        
        &:after {
            content:'';
            width: 0;
            height: 0;
            margin-top: var(--mk--spacer--xs);
            margin-left: var(--mk--spacer--sm);
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 10px solid var(--mk--BackgroundColor--100);
        }
        &:not([aria-expanded="true"]){
            color: var(--mk--Color--400);
            &:after {
                transform: rotate(270deg);
                border-top-color: var(--mk--BackgroundColor--400); 
            }
            &:hover, &:active, &:focus {
                color: var(--mk--Color--300);
                &:after {
                    border-top-color: var(--mk--BackgroundColor--100);
                }
            }
        }
        
    }
    &__question, &__answer {
        padding: var(--mk--spacer--sm);
        @media ($mk--breakpoint--md) {
            padding: var(--mk--spacer--md) var(--mk--spacer--sm);
        }
    }
    &__question[aria-expanded="true"], &__answer {
        border-left: var(--mk--BorderWidth--lg) solid var(--mk--BorderColor--100);
    }
}

.mk-blog-highlights {
        grid-area: blog;
        margin: 0;
        border-left: none;
        border-right: none;
        @media (max-width: $mk--breakpoint--lg) {
            padding-right: 0;
        }
        @media (min-width: $mk--breakpoint--md) and (max-width: $mk--breakpoint--lg) {
            grid-template-columns: 1fr 3fr;
            grid-gap: var(--mk--spacer--sm);
            display: grid;
        }
    &__wrapper {
        display: flex;
        width: calc(100vw - var(--mk--spacer--sm));
        overflow: scroll;
        position: relative;
        -webkit-overflow-scrolling: touch;
        // &::after {
        //     content:'';
        //     width: 30px;
        //     height: 100%;
        //     position: fixed;
        //     z-index: 100;
        //     right: 0;
        //     background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.8));
        // }
        @media (min-width: $mk--breakpoint--md) {
            width: auto;
        }
        @media (min-width: $mk--breakpoint--lg) {
            overflow: visible;
            flex-wrap: wrap;
        }
    }
    &__item {
        display: block;
        min-width: max-content;
        max-width: 450px;
        margin-right: var(--mk--spacer--sm);
        color: var(--mk--Color--100);
        padding: var(--mk--spacer--md);
        background: var(--mk--color-transparent-background--100);
        @media (min-width: $mk--breakpoint--lg){
            min-width:100%;
        &:not(:last-of-type) {
            margin-bottom: var(--mk--spacer--md);
            margin-right: 0;
        }
        width: 100%;
        }
        &:hover, &:active, &:focus {
            text-decoration: none;
            background: var(--mk--BackgroundColor--400);
        }
    }
    &__timestamp {
        display: flex;
        align-items: center;
        margin-top: var(--mk--spacer--xs);
        &:before {
            content:'';
            background: url("/assets/images/sprite.svg") no-repeat -20px 1px;
            width: 18px;
            height: 18px;
            display: inline-block;
            margin-right: var(--mk--spacer--sm);
         }
    }
}

.mk-homepage__header {
    margin-bottom: var(--mk--spacer--md);
    &__link {
        display:inline-block;
        color: var(--mk--Color--500);
        font-size: var(--mk--FontSize--md);
        margin-top: var(--mk--spacer--sm);
        &:after{
            content:'';
            background: url("/assets/images/sprite.svg") no-repeat;
            width: 15px;
            height: 15px;
            display: inline-block;
            margin-left: var(--mk--spacer--sm);
        }
        &:hover, &:active, &:focus {
            color: var(--mk--Color--400);
            text-decoration: none;
            &:after {
                margin-left: calc(var(--mk--spacer--sm) * 1.25);
            }
        }
    }
}