.mk-subpage__content {
    padding: var(--mk--spacer--md) var(--mk--spacer--sm);
    @media (min-width: $mk--breakpoint--md){
        padding: var(--mk--spacer--lg); 
      }
    &__item {
        background: var(--mk--color-white--150);
        border: var(--mk--BorderWidth--sm) solid var(--mk-BorderColor--300);
    }
}

.mk-main__section.mk-component-overview {
    background: none;
    border: none;
}

.mk-blog {
    @media (min-width: $mk--breakpoint--md) {
        grid-template-columns: 3fr 1fr;
        grid-gap: var(--mk--spacer--sm);
        display: grid;
        grid-template-areas: "posts categories"

    }
    &__posts {
        grid-area: posts;
    }
    &__categories {
        grid-area: categories;
        background: var(--mk--BackgroundColor--250);
        padding:var(--mk--spacer--md) var(--mk--spacer--sm);
        @media (min-width: $mk--breakpoint--md){
            padding:var(--mk--spacer--lg) var(--mk--spacer--lg);
        }
    }
}