.mk-subpage__content {
    padding: var(--mk--spacer--md) var(--mk--spacer--sm);
    @media (min-width: $mk--breakpoint--md){
        padding: var(--mk--spacer--lg); 
      }
    &__item {
        background: var(--mk--color-white--150);
        border: var(--mk--BorderWidth--sm) solid var(--mk-BorderColor--300);
    }
}