:root {
  --ov--font-family: 'arial', sans-serif;
  --ov--FontSize--xs:  .875rem;
  --ov--FontSize--sm:  1rem;
  --ov--FontSize--md:  1.125rem;
  --ov--FontSize--lg:  1.375rem;
  --ov--FontSize--xl:  1.5rem;
  --ov--FontSize--2xl: 2.625rem;
  --ov--spacer--xs:  .5rem;
  --ov--spacer--sm:  1rem;
  --ov--spacer--md:  2rem;
  --ov--spacer--lg:  4rem;
  --ov--spacer--xl:  5rem;
  --ov--spacer--2xl: 7rem;
  --ov--color-brand--100: #0088CE;
  --ov--color-brand--200: #025081;
  --ov--color-white--100: #FFF;
  --ov--color-white--150: #FAFAFA;
  --ov--color-white--200: #F6F6F6;
  --ov--color-grey--100:  #979797;
  --ov--color-grey--200:  #666;
  --ov--color-black--100: #454545;
  --ov--color-black--200: #202020;
  --ov--color-transparent-background--100: rgba(32,32,32,.90);
  --ov--BorderWidth--sm: 2px;
  --ov--BorderWidth--lg: 4px;
  --ov--BorderRadius--sm: .625rem;
  --ov--BorderRadius--lg: 30rem;
  --ov--Color--100: var(--ov--color-white--100);
  --ov--Color--200: var(--ov--color-white--200);
  --ov--Color--300: var(--ov--color-brand--100);
  --ov--Color--400: var(--ov--color-black--200);
  --ov--Color--500: var(--ov--color-brand--400);
  --ov--Color--600: var(--ov--color-brand--300);
  --ov--LineHeight--sm: 1.3;
  --ov--LineHeight--lg: 1.5;
  --ov--FontWeight--100: 400;
  --ov--FontWeight--200: 700;
  --ov--animation: all .15s linear;
  --ov--BoxShadow--sm: 0px 1px 4px rgba(0,0,0,0.5);
  --ov--menu-offset: 56px; }

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5; }

img,
embed,
iframe,
object,
audio,
video {
  max-width: 100%;
  height: auto; }

iframe {
  border: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0;
  text-align: left; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: var(--ov--font-family);
  font-size: var(--ov--FontSize--sm);
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  color: var(--ov--color-black--100); }

a {
  color: var(--ov--color-brand--100);
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

a, a:before, a:after, button, button:before, button:after {
  transition: var(--ov--animation); }

button,
a {
  cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

.ov-heading {
  color: var(--ov--Color--400);
  font-weight: var(--ov--FontWeight--100); }

.ov-heading--xs, .ov-heading--sm {
  font-size: var(--ov--FontSize--xs); }

.ov-heading--md {
  font-size: var(--ov--FontSize--sm); }

.ov-heading--lg {
  font-size: var(--ov--FontSize--md); }

.ov-heading--xl {
  font-size: var(--ov--FontSize--lg); }

.ov-heading--2xl {
  font-size: var(--ov--FontSize--lg); }

@media (min-width: 992px) {
  .ov-heading--xs {
    font-size: var(--ov--FontSize--xs); }
  .ov-heading--sm {
    font-size: var(--ov--FontSize--sm); }
  .ov-heading--md {
    font-size: var(--ov--FontSize--md); }
  .ov-heading--lg {
    font-size: var(--ov--FontSize--lg); }
  .ov-heading--xl {
    font-size: var(--ov--FontSize--xl); }
  .ov-heading--2xl {
    font-size: var(--ov--FontSize--2xl); } }

.ov-header-main {
  background: var(--ov--color-brand--200);
  display: grid;
  grid-template-columns: min-content 1fr;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw; }
  @media (min-width: 992px) {
    .ov-header-main {
      padding: 0 var(--ov--spacer--lg);
      display: flex;
      justify-content: space-between; } }

.ov-brand-main {
  max-width: 100px;
  max-height: 55px;
  display: block;
  padding: var(--ov--spacer--xs) 0;
  justify-self: center; }

.ov-nav-main {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3; }
  @media (min-width: 992px) {
    .ov-nav-main {
      width: auto; } }

.ov-nav-main__items {
  width: 100%; }

.ov-nav-main__sub-item {
  width: 100%; }
  .ov-nav-main__sub-item--heading {
    display: none;
    visibility: hidden; }
    @media (min-width: 992px) {
      .ov-nav-main__sub-item--heading {
        display: inline-block;
        font-weight: var(--ov--FontWeight--200);
        visibility: visible;
        margin-bottom: var(--ov--spacer--xs); } }
  .ov-nav-main__sub-item__link {
    color: var(--ov--color-white--100);
    display: block;
    padding: var(--ov--spacer--xs) 0; }
    @media (min-width: 992px) {
      .ov-nav-main__sub-item__link {
        color: var(--ov--color-black--200);
        padding: 0 0 var(--ov--spacer--xs); } }

.js .ov-nav-main {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.ov-nav-main.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

@media (min-width: 992px) {
  .js .ov-nav-main {
    position: relative; }
  .js .ov-nav-main.closed {
    max-height: none; }
  .nav-toggle {
    display: none; } }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: var(--ov--color-white--200);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: var(--ov--color-brand--100);
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.ov-nav-main,
.ov-nav-main__items {
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.ov-nav-main__item {
  width: 100%; }
  @media (min-width: 992px) {
    .ov-nav-main__item {
      width: auto; } }

.ov-nav-main__link {
  color: var(--ov--color-white--100);
  display: flex;
  align-items: center;
  padding: var(--ov--spacer--xs); }
  @media (min-width: 992px) {
    .ov-nav-main__link {
      padding: var(--ov--spacer--sm) 2vw; }
      .ov-nav-main__link:hover, .ov-nav-main__link:focus, .ov-nav-main__link:active {
        background-color: var(--ov--color-brand--100);
        text-decoration: none; } }

.ov-nav-main__sub-items {
  width: 100%;
  padding: 0 var(--ov--spacer--md); }

/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */
.nav-toggle {
  background: url("/images/sprite.svg") no-repeat 10px -23px;
  border: none;
  height: 45px;
  width: 45px;
  align-self: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  transition: none; }
  .nav-toggle[aria-expanded="true"] {
    background-position: 10px 15px; }

/* ------------------------------------------
  MULTIPLE LEVELS
--------------------------------------------- */
@media (max-width: 992px) {
  .js .ov-nav-main {
    visibility: hidden; }
  .js .ov-nav-main.opened {
    visibility: visible; }
  /* Enable active class to let the navigation expand over the calculated max height. */
  .js .ov-nav-main.multiple-level-nav.opened.dropdown-active {
    max-height: 9999px !important; }
  .js .ov-nav-main.multiple-level-nav .sub-menu {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: none;
    /* This way you don't have focus on sub menu items unless you open the sub menu. */
    overflow: hidden;
    zoom: 1; }
  .js .ov-nav-main.multiple-level-nav .sub-menu.toggled {
    display: block;
    max-height: 9999px;
    position: relative; }
  .js .ov-nav-main__item {
    position: relative; }
  .js .dropdown {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; }
  .js .ov-nav-main .dropdown-toggle {
    color: #fff;
    content: "";
    height: 35px;
    width: 35px;
    margin-right: 2vw;
    text-transform: lowercase;
    background: none; }
  .js .ov-nav-main .dropdown-toggle:hover,
  .js .ov-nav-main .dropdown-toggle:focus,
  .js .ov-nav-main .dropdown-toggle:active {
    background-color: #fff;
    color: var(--ov--color-brand--100); }
  .js .ov-nav-main .dropdown-toggle:after {
    content: "+";
    font-size: 20px; }
  .js .ov-nav-main .dropdown-toggle.toggled:after {
    content: "-"; } }

@media (min-width: 992px) {
  .dropdown-toggle {
    display: none; } }

@media (min-width: 992px) {
  .ov-nav-main {
    position: relative; }
  .js .ov-nav-main,
  .ov-nav-main__sub-items {
    max-height: none;
    overflow: visible; }
  .has-dropdown:after {
    content: "";
    margin-right: calc(var(--ov--spacer--sm) * -1);
    margin-left: var(--ov--spacer--sm);
    width: 12px;
    height: 10px;
    background: url("/images/sprite.svg") no-repeat 0 -67px; }
  .ov-nav-main__sub-items {
    background: #fff;
    padding: var(--ov--spacer--md);
    position: fixed;
    top: 85px;
    left: -999em;
    z-index: 99999;
    column-count: 2; }
  .ov-nav-main__item:hover > .ov-nav-main__sub-items,
  .ov-nav-main__item.focus > .ov-nav-main__sub-items {
    top: 56px;
    left: 0; } }

.ov-footer-main {
  background: var(--ov--color-brand--200);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--ov--spacer--sm); }
  .ov-footer-main__copyright, .ov-footer-main__link {
    color: var(--ov--color-white--100); }
  .ov-footer-main__links {
    display: flex;
    flex-wrap: wrap; }
    .ov-footer-main__links > *:not(:last-child) {
      width: 100%;
      margin-right: var(--ov--spacer--md); }
      @media (min-width: 992px) {
        .ov-footer-main__links > *:not(:last-child) {
          width: auto; } }
  .ov-footer-main__link {
    display: flex;
    align-items: center; }
    .ov-footer-main__link--github:before {
      content: '';
      background: url("/images/sprite.svg") no-repeat 0 -93px;
      width: 20px;
      height: 20px;
      margin-right: var(--ov--spacer--xs); }

.ov-masthead--home {
  background: url("/images/oVirt_About_BG_Overlay.png") left top no-repeat var(--ov--color-brand--100); }
  .ov-masthead--home .ov-heading--lg {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; }

.ov-community-power {
  text-align: center; }
  .ov-community-power > *:not(:last-child) {
    margin-bottom: var(--ov--spacer--md); }
  .ov-community-power .ov-community-power__content {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
  .ov-community-power__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    .ov-community-power__links > * {
      margin-bottom: var(--ov--spacer--xs); }
      @media (min-width: 768px) {
        .ov-community-power__links > * {
          transform: scale(0.9);
          transition: all .25s linear;
          padding: 0 var(--ov--spacer--xs);
          margin: 0; }
          .ov-community-power__links > *:hover {
            transform: scale(1); } }
    @media (min-width: 768px) {
      .ov-community-power__links {
        flex-direction: row; } }

.ov-whats-included {
  display: flex;
  flex-direction: column; }
  .ov-whats-included > *:not(:last-child) {
    margin-bottom: var(--ov--spacer--md); }
  .ov-whats-included__items {
    display: grid;
    grid-gap: 3vw; }
    @media (min-width: 768px) {
      .ov-whats-included__items {
        grid-template-columns: 1fr 1fr; } }
    @media (min-width: 992px) {
      .ov-whats-included__items {
        grid-template-columns: 1fr 1fr 1fr 1fr; } }
    .ov-whats-included__items .ov-heading {
      font-weight: var(--ov--FontWeight--200);
      margin-bottom: var(--ov--spacer--sm); }
  .ov-whats-included img {
    align-self: center; }

.ov-posts--home {
  background: var(--ov--color-white--200);
  display: grid;
  grid-gap: 2vw; }
  @media (min-width: 992px) {
    .ov-posts--home {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(6, min-content); } }
  @media (min-width: 992px) {
    .ov-posts--home .ov-heading {
      grid-column: 1/4; } }
  @media (min-width: 992px) {
    .ov-posts--home .ov-button--secondary {
      grid-column-end: 4;
      justify-self: end; } }

.ov-masthead--community {
  background: url("/images/oVirt_Community_Header.png") left top no-repeat var(--ov--color-brand--100); }
  .ov-masthead--community .ov-heading--lg {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; }

.ov-layout-styles {
  margin: var(--ov--spacer--sm);
  padding: var(--ov--spacer--sm); }
  @media (min-width: 992px) {
    .ov-layout-styles {
      padding: var(--ov--spacer--md); } }

.ov-content-styles {
  max-width: 1080px;
  list-style-type: disc;
  padding: var(--ov--spacer--sm); }

.ov-community-subsection {
  margin: var(--ov--spacer--sm); }

.ov-main {
  margin-top: var(--ov--menu-offset); }

.ov-masthead {
  background-size: cover;
  padding: var(--ov--spacer--sm);
  text-align: center; }
  @media (min-width: 992px) {
    .ov-masthead {
      padding: var(--ov--spacer--lg); } }
  .ov-masthead .ov-heading {
    color: var(--ov--color-white--100); }
    .ov-masthead .ov-heading--lg, .ov-masthead .ov-heading--xl {
      margin-bottom: var(--ov--spacer--xs); }
      @media (min-width: 992px) {
        .ov-masthead .ov-heading--lg, .ov-masthead .ov-heading--xl {
          margin-bottom: var(--ov--spacer--md); } }
  .ov-masthead .ov-button {
    margin: 0 var(--ov--spacer--xs) var(--ov--spacer--xs); }

.ov-site-section {
  padding: var(--ov--spacer--sm); }
  @media (min-width: 992px) {
    .ov-site-section {
      padding: var(--ov--spacer--md); } }

.ov-post {
  background: var(--ov--color-white--100);
  box-shadow: var(--ov--BoxShadow--sm);
  padding: var(--ov--spacer--sm); }
  .ov-post > *:not(:last-child) {
    margin-bottom: var(--ov--spacer--sm); }
  .ov-post .ov-heading {
    padding-bottom: var(--ov--spacer--xs);
    border-bottom: 1px solid var(--ov--color-grey--100); }
  .ov-post .ov-post-data {
    font-size: var(--ov--FontSize--xs); }

.ov-button {
  font-size: var(--ov--fontSize--md);
  display: inline-flex;
  padding: var(--ov--spacer--xs) var(--ov--spacer--sm);
  align-items: center; }
  .ov-button:after {
    margin-left: var(--ov--spacer--xs);
    content: '';
    background: url("/images/sprite.svg") no-repeat;
    display: block;
    width: 9px;
    height: 14px; }
  .ov-button--primary {
    border-radius: var(--ov--BorderRadius--sm);
    color: var(--ov--color-black--100);
    background: var(--ov--color-white--100); }
    .ov-button--primary:after {
      background-position: 0 -76px; }
    .ov-button--primary:hover, .ov-button--primary:active, .ov-button--primary:focus {
      text-decoration: none;
      background: var(--ov--color-brand--200);
      color: var(--ov--color-white--200); }
      .ov-button--primary:hover:after, .ov-button--primary:active:after, .ov-button--primary:focus:after {
        filter: invert(1); }
  .ov-button--secondary {
    color: var(--ov--color-brand--100); }
    .ov-button--secondary:hover, .ov-button--secondary:active, .ov-button--secondary:focus {
      text-decoration: none; }
      .ov-button--secondary:hover:after, .ov-button--secondary:active:after, .ov-button--secondary:focus:after {
        background-position: -13px -76px; }
    .ov-button--secondary:after {
      background-position: -16px -76px; }
