---
layout: default
title: Blog
---
<div class="mk-masthead__content--sub">
        <h1 class="mk-masthead__content--sub__title">Blog</h1>
        <p class="mk-masthead__content--sub__text">Read about the newest updates in the community.</p>
</div>
</section>
<main class="mk-main mk-blog">   
    <section class="mk-blog__posts mk-main__content">
        {% for post in paginator.posts %}
        <article class="mk-blog-meta mk-main__section">
                <h3 class="mk-heading--lg mk-blog-meta__title">{{ post.title }}</h3>
                <time datetime="1999-12-23" class="mk-blog-meta__item mk-blog-meta__timestamp mk-blog-meta__timestamp--light">{{ post.date | date: "%A, %-d/%m/%Y" }}</time>
                <div class="mk-blog-meta__author mk-blog-meta__item">By {{ post.author }}</div>
                <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
                <a class="mk-button mk-button--link" href="{{ post.url }}">Read More</a>
        </article>         
        {% endfor %}
        <div class="pagination">
                        {% if paginator.previous_page %}
                          <a href="{{ paginator.previous_page_path }}" class="previous">
                            Previous
                          </a>
                        {% else %}
                          <span class="previous">Previous</span>
                        {% endif %}
                        <span class="page_number ">
                          Page: {{ paginator.page }} of {{ paginator.total_pages }}
                        </span>
                        {% if paginator.next_page %}
                          <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                        {% else %}
                          <span class="next ">Next</span>
                        {% endif %}
                      </div>
    </section>
    {% include blog-aside.html %}
</main>
