---
layout: default
---
<div class="mk-masthead__content--sub">
        <h1 class="mk-masthead__content--sub__title">Blog</h1>
        <p class="mk-masthead__content--sub__text">Read about the newest updates in the community.</p>
</div>
</section>
<main class="mk-main mk-blog">

        <section class="mk-blog__posts mk-main__content">
            <article class="mk-blog-meta mk-main__section">
                    <h3 class="mk-heading--lg mk-blog-meta__title">{{ page.title }}</h3>
                    <time datetime="1999-12-23" class="mk-blog-meta__timestamp mk-blog-meta__timestamp--light">{{ page.date | date: "%A, %-d/%m/%Y" }}</time>
                    <div class="mk-blog-meta__author">By {{ page.author }}</div>
                    {% for category in page.categories %}
  <a href="/blog/{{ category | slugize }}/">
    {{ category | remove-first }}
  </a>
{% endfor %}
                    {{ content }}
            </article>         
        </section>
        <aside class="mk-blog__categories mk-main__aside">
            <header class="mk-main__header">
                    <h2 class="mk-heading mk-heading--xl mk-m-border">Categories</h2>
            </header> 
        </aside>
    </main>
